#!/usr/bin/make -f

export DH_VERBOSE=1

%:
	dh $@ --with quilt

override_dh_auto_configure:
	dh_auto_configure -- --systemdsystemunitdir=/lib/systemd/system

override_dh_fixperms:
	dh_fixperms
	# Ensure that all modules are executable. Unfortunately patch can not set the mode.
	- test -d debian/dracut && find debian/dracut/usr/lib/dracut/modules.d/ -name "*.sh" -type f -print0 | xargs -0 chmod 755
	- test -d debian/dracut-network && find debian/dracut-network/usr/lib/dracut/modules.d/ -name "*.sh" -type f -print0 | xargs -0 chmod 755

override_dh_auto_test:
